# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.env.*

# Environment Variables
.env

# Logs
logs/
*.log

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Misc
*.sqlite3